html {
  font-size: 16px;
  font-family: Helvetica;
}
h1 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.5rem;
}
/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: white;
  border-bottom: 1px solid black;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-left: 1.5rem;
}
.nav {
  margin-right: 0.5rem;
}
.nav span {
  margin: auto 1rem;
}
.nav a {
  text-decoration: none;
  color: black;
}
/* MAIN BANNER */
.main-banner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: lightgray;
  max-width: 1500px;
  margin: 0 auto;
}
.text {
  width: 40%;
}
.main.image {
  width: 60%;
  margin: 2rem 1.5rem;
}
.image img {
 width: 100%;
}
.text h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
.button span {
  text-align: center;
  padding: 0.5rem 2rem;
  color: white;
  background-color: gray;
}
.button,
.text h1 {
  margin: 2rem 0;
}
/* CONTENT */
.content {
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
  background-color: orange;
}
.content-container {
  width: 60%;
  margin: 2rem 1.5rem;
}
.item.image {
  width: 100%;
}
.item.text {
  width: 90%;
}
.item.text h2 {
  font-size: 2rem;
  margin: 2rem 0;
}
.item.text p {
  margin: 2rem 0;
}
.article-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}
.little-container {
  display: flex;
  padding: 1rem;
  background-color: lightgray;
  border: 1px solid gray;
  align-items: center;
  width: 90%;
}
.little-container .photo {
  width: 35%;
}
.little-container .words {
  width: 65%;
  margin: 0.5rem;
}
.little-container .photo img {
  width: 100%;
  height: auto;
}
.little-container .words h3,
.little-container .words p,
.little-container .words span {
  margin: 0.5rem;
}
/* COURSES */
#courses {
  max-width: 1500px;
  margin: 0 auto;
  background-color: beige;
  border: 1px solid white;
}
#courses h1 {
  width: 100%;
  text-align: center;
  margin: 2rem auto;
}
.courses {
  width: 100%;
}
.courses .courses-container:first-child {
  margin-bottom: 0.5rem;
}
.courses-container {
  display: flex;
  margin: 2rem 4.5rem;
}
.little-container.course {
  display: flex;
  flex-direction: column;
}
.little-container.course {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  margin: 0 1rem;
}
.little-container.course .img {
  width: 100%;
}
.little-container.course .img img {
  width: 100%;
}
.little-container.course .font {
  width: 100%;
}
.little-container.course .font h3 {
  padding: 1rem 0.5rem 0.5rem 1rem;
}
.little-container.course .font p {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}
.little-container.course .font p:last-child{
  padding-bottom: 1.5em;
}
/* FOOTER */
#footer {
  max-width: 1500px;
  margin: 0 auto;
  background-color: brown;
  border: 1px solid white;
}
#footer h1 {
  width: 100%;
  text-align: center;
  margin: 2rem auto;
}
.footer {
  display: flex;
  align-items: flex-start;
}
.video-item {
  width: 60%;
  padding: 1.5rem;
  /* border: 1px solid white; */
  /* background-color: seagreen; */
}
.video-item  video {
  width: 100%;
  height: auto;
  object-fit: fill;
}
.footer-content {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  width: 40%;
  /* border: 1px solid white; */
}
/* .little-container.thesis {
  display: flex;
  padding: 1rem;
  max-width: 90%;
} */
