/* Royal Blue --- rgb(43, 64, 112);
Dark Blue --- rgb(57, 68, 89);
Whiteish --- rgb(242, 244, 239);
Orange Brown --- rgb(189, 139, 118);
Teal --- rgb(118, 189, 179);
Dark Teal --- rgb(48, 112, 103);
Brown --- rgb(114, 87, 86);
Greenish --- rgb(129, 142, 79);
Dark Red --- rgb(189, 153, 79);
Goldish --- rgb(189, 153, 79); */

/* Main Colors */
.header {
  background-color: rgb(242, 244, 239);
}
.main-banner {
  background-color: rgb(242, 244, 239);
  background-image: url(../inspiration/background2.jpg);
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.content {
  background-color: rgb(242, 244, 239);
}
#courses {
  background-color: rgb(242, 244, 239);
}
#footer {
  background-color: rgb(242, 244, 239);
}
.end {
  background-color: rgb(57, 68, 89);
}
.little-container {
  background-color: #A9A9A9;
}
.little-container:hover {
  background-color: LightGray;
}
.button span {
  background-color: rgb(57, 68, 89);
}
.button span:hover {
  background-color: rgb(48, 112, 103);
}

/* Universal */

html {
  font-size: 16px;
  font-family: Helvetica;
  /* background-image: url(../inspiration/pattern3.jpg);
  background-size: cover;
  background-repeat: no-repeat; */
  background: linear-gradient(lightblue, white);
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #191919;
}
h2 {
  color: #191919;
}
h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #191919;
}
p {
  color: #191919;
}
a {
  text-decoration: none;
  color: rgb(43, 64, 112);
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  color: rgb(43, 64, 112);
  border-bottom: 1px solid black;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-left: 1.5rem;
}
.nav {
  margin-right: 0.5rem;
}
.nav span {
  margin: auto 1rem;
}
.nav a:hover {
  border-bottom: 2px dotted rgb(189, 139, 118);
}
/* MAIN BANNER */
.main-banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
}
.text {
  width: 40%;
}
.main.image {
  width: 60%;
  margin: 2rem 1.5rem;
}
.image img {
 width: 100%;
}
.text h1 {
  font-weight: bold;
}
.button {
  padding-top: 2rem;
}
.button span {
  padding: 1.5rem 6rem;
  color: white;
  border: 1px solid black;
  text-align: center;
  transition: all 500ms linear 0s;
}
.button,
.text h1 {
  margin: 2rem 0;
}
.button a {
  color: rgb(242, 244, 239);
}
.button span:hover {
  color: black;
  text-shadow: 2px 2px black;
}
/* CONTENT */
.words a {
  color: rgb(43, 64, 112);
}
.words a:hover {
  border-bottom: 2px dotted rgb(189, 139, 118);
}
.content {
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
}
.content-container {
  width: 60%;
  margin: 2rem 1.5rem;
}
.item.image {
  width: 100%;
}
.item.text {
  width: 90%;
}
.item.text h2 {
  margin: 2rem 0;
  font-size: 2rem;
}
.item.text p {
  margin: 2rem 0;
}
.article-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 2rem 0;
}
.little-container {
  display: flex;
  align-items: center;
  width: 90%;
  border: 1px solid gray;
  padding: 1rem;
  transition: background-color 300ms linear 0s;
}
.little-container .photo {
  width: 35%;
}
.little-container .words {
  width: 65%;
  margin: 0.5rem;
}
.little-container .photo img {
  width: 100%;
  height: auto;
}
.little-container .words h3,
.little-container .words p,
.little-container .words span {
  margin: 0.5rem;
}
/* COURSES */
#courses {
  max-width: 1500px;
  margin: 0 auto;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
#courses h1 {
  text-align: center;
  margin: 2rem auto;
  font-size: 3rem;
}
.courses .courses-container:first-child {
  margin-bottom: 0.5rem;
}
.courses-container {
  display: flex;
  margin: 2rem 4.5rem;
}
.little-container.course {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 0;
  margin: 0 1rem;
}
.little-container.course .img,
.little-container.course .img img,
.little-container.course .font,
.courses,
#courses h1  {
  width: 100%;
}
.little-container.course .font h3 {
  padding: 1rem 0.5rem 0.5rem 1rem;

}
.little-container.course .font p {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}
.little-container.course .font p:last-child{
  padding-bottom: 1.5em;
}
/* FOOTER */
#footer {
  max-width: 1500px;
  margin: 0 auto;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  background-color: rgb(242, 244, 239);
}
#footer h1 {
  width: 100%;
  text-align: center;
  margin: 2rem auto;
}
.footer {
  display: flex;
  align-items: flex-start;
}
.video-item {
  width: 60%;
  padding: 1.5rem;
}
.video-item  video {
  width: 100%;
  height: auto;
  object-fit: fill;
}
.footer-content {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  width: 40%;
}
/* REAL FOOTER */
.end {
  display: flex;
  justify-content:space-between;
  max-width: 1500px;
  height: 200px;
  margin: 0 auto;
}
.end span {
  margin: 1rem 1.5rem;
  font-size: 1rem;
  color: rgb(242, 244, 239);
}
.end span:last-child {
  word-spacing: 1rem;
}
.end span a {
  color: rgb(242, 244, 239)
}
.end span a:hover {
  border-bottom: 2px dotted rgb(189, 139, 118);
}
